body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid black;
    background-color: aqua;
}
div{
    border: 1px solid black;
    width: 450px;
    transition: 1s;
}
.text-5{
    height: 180px;
}
.text-1:hover{
    font-size: 36px;
    background-color: salmon;
}
.text-2:hover{
    font-size: 30px;
    background-color: blue;
}
.text-3:hover{
    font-size: 40px;
    background-color: blueviolet;
}
.text-4:hover{
    font-size: 60px;
    background-color: yellow;
}
.text-5:hover{
    font-size: 30px;
    background-color: lightgreen;
}