.container{
    border-radius: 50px;
    height: 100px;
    width: 200px;
    background-color: rgb(224, 224, 224);
    transition: 1s;
}
input{
    display: none;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: aqua;
    transition: all ,1s;
}


input[type="checkbox"]:checked + .container{
    background-color: black;
}

input[type="checkbox"]:checked + .container .circle{
    margin-left: 100px;
    transition: 0.8s;
    background-color: rgb(0, 255, 255);
}